.item-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  flex-wrap: wrap;
  max-width: 37.5vw;
  margin:3% auto;
  background-color: rgb(187, 187, 192);
  border-radius: 8px;
  gap: 0.7rem;
  align-content: flex-start;
  padding-top: 2rem;
  padding-bottom: 2rem;

}

.item-list > h2 {
  border: 3px solid rgb(173, 161, 161);
  text-align: center;
  margin-left: 30%;
  color: brown;
  margin-top: -2%;
  padding: 0.6rem 3rem;
  border-radius: 5px;
  background-color: rgb(211, 220, 227);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

/* @media screen and (max-width: 900px) {
  .item-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    flex-wrap: wrap;
    width: 35%;
    margin-left: 30%;
    background-color: rgb(187, 187, 192);
    border-radius: 8px;
    gap: 0.3rem;
    align-content: flex-start;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-shrink: var(10%);
  }
}

@media screen and (max-width: 650px) {
  .item-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    flex-wrap: wrap;
    width: 34%;
    margin-left: 30%;
    background-color: rgb(187, 187, 192);
    border-radius: 8px;
    gap: 0.3rem;
    align-content: flex-start;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-shrink: var(10%);
  }
} */
