.lists {
  list-style: none;
  border: 1px solid rgb(16, 16, 16);
  width: 85%;
  /* padding: 0.5rem; */
  /* margin: 5px; */
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  background-color: rgb(74, 74, 72);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;

}
.lists > button {
  text-align: center;
  margin-bottom: 11px;  
  margin-top: 11px;
}
