.forms-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:flex-start;
  text-align: center;
  flex-wrap: wrap;
  align-content: space-around;
  /* border: 4px solid red; */
  max-width: 40%;
  margin:3% auto 0;
  background-color: rgb(205, 205, 214);
  border-radius: 12px;
  gap: 0.3rem;
}
.forms-item>h2 {
  border: 3px solid rgb(173, 161, 161);
  text-align: center;
  margin:2% auto;
  color: brown;
  /* margin-top: -2%; */
  padding: 0.6rem 3rem;
  border-radius: 5px;
  background-color: rgb(211, 220, 227);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.forms-item>input {
  width: 50%;
  padding: 0.3rem;
}

.forms-username {
  border-radius: 5px;
}

.forms-college__name {
  border-radius: 5px;
}

.forms-age {
  border-radius: 5px;
}

button {
  background-color:rgb(94, 29, 94);
  color: white;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: 0.3rem;
  padding: 0.3rem 1rem;
  border: 1px solid white;
  
}
